@import 'variables.scss';
.section-about {
    padding: 100px 20px;

    &__title {
        margin: 0 0 60px 0;
        text-align: center;
    }

    &__title-link{
        font-family: $fontBase;
        color: $colorBase;
        font-weight: 300;
        font-size: $fontSizeBase + 34;
    }

    &__dec {
        color: #5a5a5a;
        text-align: center;
        line-height: 36px;
    }
}
