.section-about {
    padding: 80px 20px;
}

.section-about__title {
    font-family: 'Lato', sans-serif;
    color: #3677fd;
    font-weight: 300;
    font-size: 50px;
    margin: 0 0 78px 0;
    // font-size: $fontSizeBase + 34;
    text-align: center;
}

.section-about__dec {
    color: #5a5a5a;
    text-align: center;
    line-height: 36px;
}