@import 'variables.scss';
.section-clients {
    background-color: #f1f8ff;
    padding: 100px 20px;
}

.section-clients__head {
    margin: 0 0 78px 0;
    text-align: center;
}
.section-clients__head-link{
    font-family: $fontBase;
    color: $colorBase;
    font-weight: 300;
    font-size: $fontSizeBase + 34;
}

.section-clients__wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.section-clients__item {
    width: 200px;
    height: 60px;
    // border: 2px solid blue;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 15px;

    &:nth-child(1) {
        background-image: url('../img/microsoft-icon.png');
    }

    &:nth-child(2) {
        background-image: url('../img/samsung-icon.png');
    }

    &:nth-child(3) {
        background-image: url('../img/ibm-icon.png');
    }

    &:nth-child(4) {
        background-image: url('../img/google-icon.png');
    }
}