$fontSizeBase: 16px;
$fontBase: 'Lato', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;;
$bgcolor: #aae3e3;
$fontColorTittle: #3677fd;



body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

h1, h2 {
    font-size: $fontSizeBase + 10;
    padding: 0 0 10px 0;
}

.section--expert {
    background-color:$bgcolor; 
}

.mainer {
    max-width: 1170px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.block-skills-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .block__title {
        padding: 100px 0;
        font-size:$fontSizeBase + 34;
        font-weight: lighter;
        color:$fontColorTittle;
    }
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .grid-wrapper__sell {
        max-width: 360px;
        margin-bottom: 90px;


        .block-skills {
            text-align: center;
            padding: 0 10px;

            .block-skills-img {
                margin: 0 auto;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                border: 1px solid #999797;
                margin-bottom: 55px;

                .block-skills-img__img {
                    padding-top: 35px;
                }
            }

            .block-skills__title {
                font-size:$fontBase + 8;
                color: $fontColorTittle;
                font-weight: bold;
            } 

           .block-skills__text {
               font-size: $fontSizeBase;
               font-weight: normal;
           }

        }
    }
}







