$fontSizeBase: 16px;
$fontBase: 'Lato',
sans-serif;
$fontSecondary: 'Montserrat',
sans-serif;
;
$bgcolor: #f1f8ff;
$fontColorTittle: #3677fd;
$fontCol: #469dff;
$fontBgBox: #f4f4f4;

body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
    border: none;
    color: #000000;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2 {
    font-size: $fontSizeBase + 34;
    padding: 0 0 10px 0;
}

.section--expert {
    background-color: $bgcolor;
}

.section--body {
    background-color: #ffffff;
}

.mainer {
    max-width: 1170px;
    padding: 82px 15px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}


.block-skills-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-wrapper__sell {
    max-width: 360px;
    margin-bottom: 90px;
}


.block-skills {
    text-align: center;
    padding: 0 10px;

    &__img {
        margin: 0 auto;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid #999797;
        margin-bottom: 55px;
    }

    &__image {
        padding-top: 35px;
    }


    &__title {
        font-size: $fontSizeBase + 8;
        color: $fontColorTittle;
        font-weight: bold;
    }

    &__text {
        font-size: $fontSizeBase;
        font-weight: normal;
    }
}

.head {
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: $fontSizeBase*3;
    color: $fontCol;
    font-family: $fontBase;
}

.base-date {
    display: flex;
}

.row {
    margin: 100px auto;
}

.col-6 {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box-light {
    width: 350px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px;
    background-color: $fontBgBox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-light__bottom {
    width: 250px;
    height: 200px;
}

.box-light__center {
    width: 250px;
    height: 200px;
}

.section--header {
    background-color: #3677fd;
    text-align: center;
    position: relative;
    padding: 100px 0 0 0;
}

.section--about-me {
    background-color: #fff;
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto 50px;
    position: relative;
}

.circle:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border: solid 8px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: -8px;
    left: -8px;
}

.circle:before {
    content: '';
    position: absolute;
    width: 166px;
    height: 166px;
    border: solid 10px rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: -18px;
    left: -18px;
}

.title {
    font-family: $fontBase;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.text {
    color: #5a5a5a;
    margin: 0 0 75px 0;
}

.text--header {

    font-family: $fontBase;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.8;
}

.button {
    display: block;
    width: 205px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #3695ff;
    font-size: $fontBase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    margin: 0 auto;
    border-radius: 24px;
}

.button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-box-shadow: inset 0px 0px 17px -4px rgba(222, 222, 222, 0.7);
    box-shadow: inset 0px 0px 17px -4px rgba(222, 222, 222, 0.7);
}

.scroll {
    position: fixed;
    bottom: 50px;
    left: calc(50% - 9px);
    z-index: 1;
}

.toggler {
    width: 25px;
    display: block;
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 5;

    &__icon {
        width: 25px;
        height: 19px;
        display: block;
        position: relative;
        z-index: 5;

        &--open .toggler__line {
            background-color: transparent;
            transform: translateX(5px);
        }

        &--open .toggler__line:before {
            transform: rotate(45deg) translateY(10px);
            background-color: $fontColorTittle;
        }

        &--open .toggler__line:after {
            transform: rotate(-45deg) translateY(-10px);
            background-color: $fontColorTittle;
        }
    }

    &__line {
        width: 25px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 8px;
        display: block;
        transition-duration: 0.3s;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: #fff;
            top: -7px;
            transition-duration: 0.3s;
            left: 0;
        }

        &:after {
            top: auto;
            bottom: -7px;
        }
    }
}

.nav {
    position: absolute;
    top: 0;
    text-decoration: none;
    font-weight: 300;
    color: #d2d2d2;
    transition: all .3s;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    width: calc(100% - 30px);
    margin: 0 auto;
    z-index: 2;
    padding: 90px 0 0 0;

    &__list {
        flex-direction: column;
        margin: 0 auto;
        list-style-type: none;
        display: flex;
        padding: 0 0 75px 0;
        border: none;
        max-width: 420px;
    }

    &__item {
        padding: 0;
    }

    &__link {
        display: block;
        text-align: center;
        border: none;
        text-decoration: none;
        padding: 0;
        font-weight: 300;
        color: #d2d2d2;
        font-size: $fontSizeBase + 34;
        line-height: 96px;

        &:hover {
            border: none;
            color: $fontColorTittle;
        }
    }

    &--open {
        display: block;
        position: absolute;
    }

    &__line {
        max-width: 396px;

    }
}

.social {

    &__list {
        list-style: none;
        margin: 0 auto;
        padding: 70px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 420px;
    }

    &__icon {
        width: 50px;
        height: 50px;
        background-color: #e1e1e1;
        border-radius: 50%;
        color: white;
        font-size: 38px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        line-height: 50px;

        &:hover {
            background-color: #367ffe;
        }
    }

}

.lang {
    position: absolute;
    bottom: 19px;
    right: 25px;
    display: flex;


    &__eng {
        padding: 0 15px 0 0;
        color: #d2d2d2;
        font-weight: normal;
        align-content: center;
    }
}

.subtitle {
    font-weight: 300;
    padding: 18px 0 70px;
    color: $fontColorTittle;
}