$fontSizeBase: 16px;
$fontBase: 'Lato', sans-serif;

$colorBackgroundLi: #f4f4f4;

$fontSecond: 'Montserrat', sans-serif;
$colorBase: #3677fd;
$colorSecond: #5a5a5a;

 
body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: $fontBase;
    font-size: $fontSizeBase;
    box-sizing: border-box;
}
 
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-family: $fontBase;
    min-width: 320px;
}

h1, h2 {
    font-size: $fontSizeBase + 10;
    padding: 0 0 10px 0;
}

.section {
    padding: 90px 0;
}

.mainer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.section-4 {
    background-color: #fff;
    text-align: center;
}

.section-4__title {
    margin: -30px 0 80px 0;
    
}

.title__latest {
    color: #3695ff;
    font-size: 50px;
    font-family: $fontBase;
    font-weight: 300;
}

.section-4__icons {
    margin: 0 0 190px 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0 -15px 50px -15px;
}

.section-4__element {
    padding: 0 15px 26px 15px;
    width: 33.33%;
    box-sizing: border-box;

}

.section-4__element-icon {
    background-color: $colorBackgroundLi;
    border-radius: 4%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4__element-icon--height {
    height: 90%;
}



.section-2__title {
    font-size: 50px;
    font-weight: 300;
    color: #3695ff;
    text-align: center;
    margin-bottom: 70px;
}

.section-2__text {
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    line-height: 35px;
    text-align: center;
}

.section-5{
    background: #f1f8ff;
    min-height: 363;
}

.section-5__title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #3695ff;
    text-align: center;
    margin-bottom: 75px;
}

.section-5__block-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.section-5__icon{
    display: block;
    max-width: 100%;
}


.section-6 {
    background: url(/img/footer-img.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.section-6__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-text{
    font-size: 50px;
    font-weight: 300;
    color: white;
    margin-right: 60px;;
}
.button__block {
    background: white;
    text-align: center;
    height: 55px;
    width: 200px;
    border-radius: 26px;
    
}

.section-6__button {
    font-size: 16px;
    font-weight: 600;
    color: #3695ff;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
}

.section-6__butto:hover,
.button__block:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

.section-6__button:active,
button__block:active {
    background-color: black;
    color: rgba(255, 0, 0, 0.822);
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.3s;
}



.section-header {
    width: 100%;
    box-sizing: border-box;
    background-image: url(../img/gbheader.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.cookies {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #194277;
    z-index: 1;


    &__text {
        color: #ffffff;
    margin: 0 33px 0 0;
    }
    &__button {
        margin: 0 0 0 33px;
    }
    &__submit {
        width: 114px;
        height: 31px;
        border: none;
        border-radius: 15px;
    }
    &__submit:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }
    &__submit:active {
        background-color: black;
        color: rgb(250, 146, 146);
        transform: scale(1.2);
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

.section-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 78px 0 0 0;

    &__menu .block__toggler {
        display: flex;
        justify-content: flex-end;
        .toggler-button {
            color: white;
            font-size: 26px;
            cursor: pointer;
        }
    }
    &__menu:hover {
        color: black;
        transition-duration: 0.3s;
    }
    &__menu:active {
        color: rgb(212, 14, 14);
        transition-duration: 0.3s;
    }

    &__avatar {
        width: 150px;
        height: 150px;
        background-color: white;
        border: 1px solid white;
        border-radius: 50%;
        margin: 58px auto 70px auto;
    }

    &__info {
       text-align: center;
    }

    &__button {
        margin: 0 auto 144px auto;
    }
    
}
.block__caption {
    width: 720px;
    color: white;
    font-size: $fontSizeBase + 34px;
    font-family: $fontBase;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto 28px auto;
}

.block__text {
    width: 772px;
    color: #dde3eb;
    margin: 0 auto 76px auto;
    font-size: $fontSizeBase;
    font-family: $fontBase;
    line-height: 34px;
}

.section-block__submit {
    border: none;
    width: 208px;
    height: 54px;
    border-radius: 30px;
    color: #3695ff;
}

.section-block__submit:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

.section-block__submit:active {
    background-color: black;
    color: rgba(255, 0, 0, 0.822);
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.section-block__scroll {
    margin: 0 auto 30px auto;
    width: 42px;
    height: 42px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.664);
}

.section-pop-up {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1170px;
    height: 712px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.section-pop-up::after{
    content: '';
    background-image: url(../img/lang.jpg);
    background-size: cover;
    width: 90px;
    height: 24px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    cursor: pointer;
}
.section-close {
    background-image: url(../img/close.jpg);
    background-position: center;
    background-size: cover;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}



.section-hire-me {
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 814px;
    text-align: center;
    display: none;

    &__form {
        display: flex;
        flex-direction: column;
        text-align: center;  
    }

    &__text {
        width: 520px;
        height: 46px;
        border-radius: 15px;
        border: 1px solid #b7c0c9;
        margin: 0 auto 14px auto;
        padding: 20px;
    }

    &__email {
        width: 520px;
        height: 46px;
        border-radius: 15px;
        border: 1px solid #b7c0c9;
        margin: 0 auto 14px auto;
        padding: 20px;
    }

    &__textarea {
        width: 520px;
        height: 180px;
        border-radius: 15px;
        border: 1px solid #b7c0c9;
        margin: 0 auto 44px auto;
        resize: none;
        padding: 20px;

    }

    &__submit {
        width: 210px;
        height: 56px;
        margin: 0 auto 62px auto;
        border: none;
        background-color: $colorBase;
        border-radius: 30px;
        color: white;
        text-transform: uppercase;
    }
    &__submit:hover {
        color:black;
        background-color: #265cc9;
        transition-duration: 0.3s;
    }
    &__submit:active {
        color:red;
        background-color: #0a0a0a;
        transform: scale(1.2);
        transition-duration: 0.3s;
    }
}
.hire-me-close {
    position: absolute;
    top: 18px;
    right: 18px;
    background-image: url(../img/close.jpg);
    background-size: cover;
    width: 22px;
    height: 22px;
    
}
.hire-me-text {
    margin: 56px auto;
    font-size: $fontSizeBase + 34px;
    color: $colorBase;
}

.section__enable {
    display: block;
}

.mob__nav {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    padding: 0;
    list-style: none;
}
.menu__nav {
    margin: 0 auto 56px auto;
    font-size: $fontSizeBase + 34;
    font-weight: 300;
    color: #d2d2d2;
    font-family: $fontBase;
}
.menu__nav:hover {
    color: $colorBase;
    cursor: pointer;
    transition-duration: 0.3s;
}
.menu__nav:active {
    color: $colorBase;
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.2);
}
.menu__nav--active {
    color: $colorBase;
}

.section-line {
    width: 380px;
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1
}

.mob__social {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 56px 0;
    list-style: none;
}
.menu__social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin: 0 26px 0 0;

    &  i {
        color: white;
        display: flex;
        justify-content: center;
        line-height: 50px;
        font-size: 28px;
    }
    &:hover {
        background-color: $colorBase;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    &:active {
        background-color: black;
        transform: scale(1.2);
        cursor: pointer;
        transition-duration: 0.3s;
    }
}
.menu__social--active {
    background-color: $colorBase;
}


























.title {
    text-align: center;
    color: $colorBase;
    font-weight: 300;
    font-size: $fontSizeBase + 34;
    margin-bottom: 100px;
}

.section {
    padding: 90px 0;
    &-expert {
        background-color: #f1f8ff;
        &__wrap {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            width: 32%;
            flex-grow: 1;
            text-align: center;
            margin-bottom: 70px;
            padding: 0 20px;
            box-sizing: border-box;
        }
        &__img {
            margin: 0 auto 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 145px;
            height: 145px;
            border-radius: 50%;
            border: 1px solid #b7c0c9 ;
        }
        &__title {
            color: $colorBase;
            text-transform: uppercase;
            font-size: $fontSizeBase + 8;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &__text {
            color: $colorSecond;
            line-height: 35px;
        }
    }
}

@media (max-width: 991px) {
    .section-expert__wrap {
        flex-direction: column;
    }
    .section-expert__item {
        flex-grow: 0;
        width: 100%;
    }
}


