$fontSizeBase: 16px;

$fontBase: 'Lato', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;


$colorExoert: #f1f8ff;
$colorLite:white;
$colorBase:#3695ff;
$colorSecond:#d2d2d2;
$colorTitle:#3681fe;
$colorCookie:#194277;
$colorIcon:#e1e1e1;
$colorBorderForm: #b7c0c9;

$borderRadius:10px;